/*Basic Styling*/
.clearfix::after {
  display: block;
  content:"";
  clear:both;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 1.5;
  font-family: helvetica;
}

h2 {
  text-align: center;
  font-family: helvetica;
  margin: 0;
}

/*p {
  padding: 30px 60px;
}*/
#pic img {
  width: 100%;
  height: 150px;
  background: url(http://www.consumerreports.org/content/dam/cro/news_articles/Electronics/CRO_Electronics_Binocular_Man_05_14.jpg) no-repeat center;
  background-size: cover;
}

#navigation {
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

#navigation h2 {
  margin-right: 600px;
  padding-top: 24px;
}

#begin {
  background-color: #EEEEEE;
  /*height: 70vh;*/
  height: 290px;
  width: 100%;
  -webkit-filter: grayscale(70%);
}

.image {
  width: 400px;
  height: 400px;
}

.column {
  width: 40%;
  float: left;
  position: relative;
  min-height: 1px;
}

#begin p {
  padding: 30px 70px;
  font-family: helvetica;
}

#begin h2 {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: helvetica;
  margin: 0;
}

#navigation ul li {
    display: inline;
    font-family: helvetica;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 1.35em;
    line-height: 2;
}

/*Section 1 start*/
#section1 {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #01B0F0;
}

#section1 p {
  color: white;
  font-family: helvetica;
}

.container {
  display: flex;
  justify-content: center;
}

.half-col {
  width: 46%;
  float: left;
  position: relative;
  min-height: 1px;
}

.left {
  margin-top: 80px;
}

.right {
  margin-top: 79px;
  align-items: center;
}

.right h2 {
  color: white;
  font-family: helvetica;
}

.form {
  width: 200px;
  height: 30px;
  padding: 10px;
  border: 2px solid black;
}

#section2 {
  background-position: center;
  height: 380px;
  width: 100%;
  background-color: #EEEEEE;
}

.half-col2 {
  width: 30%;
  float: left;
  position: relative;
  min-height: 1px;
  margin-top: 30px;
}

.left1 {
  margin-left: 340px;
}

.left1 img {
  border: 1px solid black;
  padding: 2px;
}

.left1 span {
  color: #F6A623;
}

.right1 {
  padding-top: 100px;
}

.right1 span {
  font-weight: bold;
  font-size: 25px;
}

.right1 ul li {
  list-style: none;
}

ul a {
  text-decoration: inherit;
  color: inherit;
}

ul a:hover {
  font-weight: bold;
}

#section3 {
  height: 200px;
  background-color: #01B0F0;
}

#section3 h2 {
  padding-top: 150px;
  color: white;
  font-size: 18px;
  padding: 30px 100px;
  font-style: normal;
}

.star p {
  margin: 0;
  text-align: center;
  background-color: #EEEEEE;
}

.submit {
  display: flex;
  justify-content: center;
}

input[type=submit] {
  border: 3px solid white;
  color: white;
  padding: 5px;
  font-size: 30px;
  margin-top: 20px;
  background-color: #F6A623;
}

#footer {
  width: 100%;
  height: 50px;
/*  background-color: #FAEBD7;*/
}

#footer h2 {
  padding-top: 10px;
}
